@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Founders Grotesk";
  src: url("/assets/Founders_Grotesk/FoundersGrotesk-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("/assets/Founders_Grotesk/FoundersGrotesk-Bold.otf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("/assets/Founders_Grotesk/FoundersGrotesk-Italic.otf")
    format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("/assets/Founders_Grotesk/FoundersGrotesk-BoldItalic.otf")
    format("opentype");
  font-weight: bold;
  font-style: italic;
}

/* Additional weights/styles */
@font-face {
  font-family: "Founders Grotesk";
  src: url("/assets/Founders_Grotesk/FoundersGrotesk-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("/assets/Founders_Grotesk/FoundersGrotesk-Semibold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("/assets/Founders_Grotesk/FoundersGrotesk-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Founders Grotesk", sans-serif;
}
