@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Founders Grotesk";
  src: url("/assets/Founders_Grotesk/FoundersGrotesk-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("/assets/Founders_Grotesk/FoundersGrotesk-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("/assets/Founders_Grotesk/FoundersGrotesk-Italic.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* Include other styles/weights as needed */
